p {
	font-family: comic sans ms;
	font-size:20px;
	font-weight: lighter;
	line-height: 1.8em;
	text-align: center;
}

h1 {
	font-family: courier;
	font-size:50px;
	font-stretch:semi-expanded;
	font-weight: bolder;
	color: #118e8e;
	text-align: center;
	background-color: #e1ffff;
}

h2 {
	font-family: monospace;
	font-size:38px;
	font-weight: bold;
	color: #ff6767;
	text-align: center;
}

body {
	font-family: comic sans ms;
	font-size:20px;
	color: #e1ffff;
}

img {
  border-radius: 50%;
  vertical-align: middle;
  height: 250px;
  width:250px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
	background-image: url("file_gambar2.jpg")
}
